.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #0080ff;
  height: 70px;
  padding: 10px;
  color: white;
}

.App-footer {
  background-color: #222;
  height: 70px;
  padding: 20px;
  margin-top:350px;
  color: white;
}

.Pub {
  height: 150px;
  padding: 20px;
}

.PubImage {
  height: 270px;
  width: 400px;
  padding: 20px;
  margin:auto;
}

.Divider {
  padding: 5px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
